# Byte-compiled / optimized / DLL files
__pycache__/
catboost_info/
.spyproject/

# ipynotebook_checkpoints
.ipynb_checkpoints/

# test files
test.py
test_location.py

Models/*
"Image_Models/"
Backup_Models/
backup/
results/backup/
"results/baseline results"

# Compute Canada Scripts
Compute_Canada_Scripts/

# log files
output_logs/

# Misc
backup/
Plots/
Results/
Saved Models/
*.xlsx
*.pdf
notebooks/
analyze_AQI.py
combine_and_retrieve_images_from_links.py
evaluate_models.py
Presentation/
visualize_route.py
synthesize_results.py
visualize_user_route_on_specific_day.py
web scraping scripts/
citations.bib